/*
* {
    border: 1px solid black;
}
/*
Background color change for header: #CC3724
Background color for drop down menu: #e26b5d
*/
body {
    background-color: #faf1e3;
}

a {
    cursor: pointer;
}

h1 {
    font-family: "Outfit", serif;
    font-weight: normal;
}

p {
    font-family: "Outfit", serif;
    font-weight: normal;
}

#name, #projects-page-title, .project-detail-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 70px;
    letter-spacing: 15px;
}

main .space-between-titles {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 15px;
    width: 980px;
    margin: 45px auto 0;
    display: flex;
    justify-content: space-between;
}

#website-designs-title, #development-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 15px;
    width: 980px;
    margin: 45px auto 0;
}

.project-detail-title {
    width: 980px;
    margin: 55px auto 0;
}

#projects-page-title {
    width: 980px;
    margin: 55px auto 0;
}

header h2 {
    display: none;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    letter-spacing: 7px;
}

#openNav {
    display: none;
}

#navOverlay {
    display: none;
}

nav {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(3, 50px);
    font-size: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    padding: 10px;
    margin-top: 50px;
    margin-left: 10px;
}

nav a {
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: "Outfit", serif;
    font-weight: 250;
    transition: color 200ms ease-out;
    -webkit-transition: color 200ms ease-out;
}

nav a:hover {
    color: darkgrey;
}

.grid-layout {
    display: grid;
    height: 680px;
    width: 980px;
    grid-template: 1fr / repeat(2, 1fr);
    grid-auto-flow: column;
    justify-content: center;
    gap: 75px;
    margin: 50px auto 0;
}

#profile {
    height: 600px;
    width: 450px;
    box-shadow: 15px 15px #5e4011;
}

#main-story {
    height: 680px;
}

#main-story p {
    font-weight: normal;
    line-height: 3;
    letter-spacing: 1.7px;
    text-align: justify;
    font-size: 16px;
}

#main-story h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 70px;
}

.grid-layout-2 {
    display: grid;
    height: 800px;
    width: 980px;
    grid-template: 1fr / repeat(2, 1fr);
    grid-auto-flow: column;
    justify-content: center;
    gap: 75px;
    margin: 50px auto 0;
}

.projects-grid-layout {
    display: grid;
    height: 311px;
    width: 980px;
    grid-template: 1fr / repeat(2, 1fr);
    justify-content: center;
    gap: 88px;
    margin: auto;
}

#projects-page-title, .project-detail-title {
    padding-bottom: 10px;
}

#portfolio-image-overlay, #portfolio-project-link, #portfolio-project-link img {
    height: 311px;
    width: 446px;
}

#portfolio-image-overlay {
    position: absolute;
    background-color: black;
    opacity: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s ease-in;
    -webkit-transition: opacity 0.25s ease-in;
}

#portfolio-image-overlay:hover {
    opacity: 70%;
}

#portfolio-project-link img {
    background-size: cover;
}

#experiences-section-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 70px;
    letter-spacing: 15px;
}

#sunsphere-image, #code-snippet, #code-snippet-2, #code-snippet-3 {
    height: 533px;
    width: 400px;
    box-shadow: 15px 15px #5e4011;
}

#paragraph-section-grid-layout {
    height: 594px;
    width: 980px;
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    gap: 40px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#paragraph-section-grid-layout p {
    height: 564px;
    width: 470px;
    font-family: "Outfit", serif;
    font-weight: normal;
    line-height: 3;
    letter-spacing: 1.7px;
    text-align: justify;
    font-size: 16px;
}

#shorter-paragraph-section-grid-layout {
    height: 320px;
    width: 980px;
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    gap: 40px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#shorter-paragraph-section-grid-layout p {
    height: 300px;
    width: 470px;
    font-family: "Outfit", serif;
    font-weight: normal;
    line-height: 2;
    letter-spacing: 1.4px;
    text-align: justify;
    font-size: 13px;
}

#development-paragraph {
    font-family: "Outfit", serif;
    font-weight: normal;
    letter-spacing: 1.7px;
    font-size: 16px;
    height: 30px;
    width: 980px;
    margin: 20px auto 0;
}

#development-samples {
    width: 980px;
    height: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px auto 0;
}

#website-snippet {
    height: 553px;
    width: 980px;
}

#code-snippet {
    height: 771px;
    width: 980px
}

#development-samples-2 {
    height: 1100px;
    width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 130px auto 0;
}

#code-snippet-2 {
    height: 710px;
    width: 450px
}

#code-snippet-3 {
    height: 979px;
    width: 450px;
}

#development-samples-3 {
    height: 650px;
    width: 980px;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#website-snippet-2 {
    height: 606px;
    width: 300px;
}

#code-snippet-4 {
    height: 406px;
    width: 640px;
    box-shadow: 15px 15px #5e4011;
}

#experience-paragraph {
    font-weight: normal;
    line-height: 3;
    letter-spacing: 1.7px;
    margin-top: auto;
    text-align: justify;
    width: 500px;
    height: 533px;
    font-size: 16px;
}

#website-design-images {
    height: 1300px;
    width: 980px;
    margin: 50px auto 0;
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
}

.sample-image, #website-snippet {
    height: 568px;
    width: 980px;
    box-shadow: 15px 15px #5e4011, -1px -1px 30px #f2d9b4;
}

#website-snippet-2 {
    box-shadow: 15px 15px #5e4011, -1px -1px 30px #f2d9b4;
}

.space-between-titles h3 {
    font-family: "Outfit", serif;
    letter-spacing: 1.7px;
    font-size: 18px;
}

hr {
    margin-top: 100px;
    width: 980px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 980px;
    margin: 0 auto;
}

footer a, #paragraph-section-grid-layout a {
    text-decoration: underline;
    color: #1a46ad;
    transition: color 200ms ease-out;
    -webkit-transition: color 200ms ease-out;
}

footer a:hover, #paragraph-section-grid-layout a:hover {
    color: #7a9ff5;
}

#email-icon, #linkedin-icon {
    display: none;
}

@media only screen and (max-width: 1230px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 55px;
        position: fixed;
        top: 0;
        left: 0;
        border-color: #faf1e3;
        background-color: #faf1e3;
        z-index: 5;
    }
    nav {
        display: none;
        font-size: 15px;
    }
    #otherNav {
        margin-left: 25px;
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #openNav {
        display: block;
        height: 25px;
        width: 25px;
        margin-right: 25px;
    }
    #closeNav {
        display: block;
        height: 25px;
        width: 25px;
        margin-right: 25px;
    }
    #navOverlay {
        background-color: #0E2851;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        height: 55px;
        width: 100%;

    }
    #navOverlay a {
        color: white;
        text-decoration: none;
        font-family: "Outfit", serif;
        font-weight: 250;
    }
    main {
        margin-top: 85px;
    }
}

@media only screen and (max-width: 1050px) {
    #openNav {
        margin-top: 0;
    }
    #name, #projects-page-title, .project-detail-title {
        display: none;
    }
    header {
        justify-content: space-between;
    }
    header h2 {
        display: block;
        margin-left: 25px;
    }
    .grid-layout {
        grid-template: repeat(2, 1fr) / 1fr;
        grid-auto-flow: row;
        height: 1000px;
        width: 450px;
        justify-content: center;
        margin: auto;
        padding: 0;
        gap: 0;
    }
    #main-story {
        height: 600px;
    }
    #experiences-section-title {
        font-size: 50px;
        width: 450px;
        margin-top: 100px;
    }
    #sunsphere-image {
        display: none;
    }
    #experience-paragraph {
        width: 450px;
        margin-top: 0;
    }
    .grid-layout-2 {
        height: 750px;
        width: 450px;
        justify-content: center;
        grid-template: 1fr / 3fr;
        grid-auto-flow: row;
        margin: 0 auto 0;
        padding: 0;
        gap: 0;
    }
    #portfolio-image-overlay {
        opacity: 70%;
    }
    .projects-grid-layout {
        justify-content: center;
        grid-template: repeat(2, 1fr) / 1fr;
        grid-auto-flow: row;
        height: 710px;
        width: 446px;
    }
    main .space-between-titles {
        width: 550px;
        font-size: 15px;
        letter-spacing: 7px;

    }

    #paragraph-section-grid-layout, #shorter-paragraph-section-grid-layout, #website-designs-title,
    #website-design-images, .sample-image,  #development-title, #development-paragraph, #development-samples,
    #development-samples-2, #code-snippet, #website-snippet, #development-samples-3 {
        width: 550px;
    }

    #paragraph-section-grid-layout {
        height: 470px;
    }

    #paragraph-section-grid-layout p {
        height: 450px;
        width: 250px;
        font-size: 13px;
        line-height: 2;
        letter-spacing: 1.3px;
    }

    #shorter-paragraph-section-grid-layout {
        height: 310px;
    }

    #shorter-paragraph-section-grid-layout p {
        height: 290px;
        width: 250px;
        font-size: 11px;
        line-height: 1.5;
        letter-spacing: 1.1px;
    }

    #website-designs-title, #development-title {
        font-size: 20px;
        letter-spacing: 7px;
    }

    #website-design-images {
        height: 770px;
    }

    .sample-image {
        height: 319px;
        box-shadow: 15px 15px #5e4011, -1px -1px 30px #f2d9b4;
    }

    #development-paragraph {
        font-size: 12px;
        letter-spacing: 1.3px;
    }

    #development-samples {
        height: 830px;
    }

    #code-snippet {
        height: 433px;
    }

    #website-snippet {
        height: 310px;
    }

    #development-samples-2 {
        height: 590px;
    }

    #code-snippet-2, #code-snippet-3 {
        width: 250px;
    }

    #code-snippet-2 {
        height: 394px;
    }

    #code-snippet-3 {
        height: 544px;
    }

    #development-samples-3 {
        height: 350px;
    }

    #website-snippet-2 {
        width: 150px;
        height: 303px;
    }

    #code-snippet-4 {
        width: 320px;
        height: 203px;
    }

    hr {
        margin-top: 25px;
        width: 450px;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 450px;
    }
    footer p {
        display: none;
    }
    #linkedin-icon, #email-icon {
        display: block;
    }
    .specify-width-for-this-page {
        width: 550px;
    }
}

@media only screen and (max-width: 590px) {
    h1 {
        text-align: center;
    }
    header h2 {
        font-size: 18px;
    }
    #openNav img, #openNav, #closeNav, #closeNav img {
        height: 18px;
        width: 18px;
    }
    #otherNav a {
        font-size: 17px;
    }
    #profile, #main-story, .grid-layout, .grid-layout-2, #experience-paragraph, #experiences-section-title, hr, footer {
        width: 241px;
    }
    #profile {
        height: 321px;
    }
    #main-story {
        height: 300px;
    }
    #main-story p {
        font-size: 12px;
        line-height: 2;
        letter-spacing: 1.7px;
    }
    #experience-paragraph {
        font-size: 12px;
        line-height: 2;
        letter-spacing: 1px;
        height: 360px;
    }
    #experiences-section-title {
        font-size: 27px;
        letter-spacing: 7px;
        margin: 0;
    }
    .grid-layout {
        height: 720px
    }
    .grid-layout-2 {
        height: 440px;
    }
    .grid-layout-2 div {
        height: 60px
    }
    #portfolio-project-link, #portfolio-image-overlay, #portfolio-project-link img {
        font-size: 12px;
        width: 241px;
        height: 170px;
    }
    .projects-grid-layout {
        height: 390px;
        width: 241px;
        gap: 50px;
    }

    #paragraph-section-grid-layout, #shorter-paragraph-section-grid-layout, #website-designs-title,
    #website-design-images, .sample-image,  #development-title, #development-paragraph, #development-samples,
    #development-samples-2, #code-snippet, #website-snippet, #development-samples-3 {
        width: 310px;
    }

    main .space-between-titles {
        width: 310px;
        font-size: 10px;
        letter-spacing: 3px;
    }

    #paragraph-section-grid-layout {
        height: 274px;
        gap: 0;
    }

    #paragraph-section-grid-layout p {
        height: 234px;
        width: 145px;
        font-size: 8px;
        line-height: 1.25;
        letter-spacing: 1.1px;
    }

    #shorter-paragraph-section-grid-layout {
        height: 180px;
    }

    #shorter-paragraph-section-grid-layout p {
        height: 159px;
        width: 125px;
        font-size: 6px;
        line-height: 1.25;
        letter-spacing: 1.1px;
    }

    #website-designs-title, #development-title {
        font-size: 15px;
        letter-spacing: 4px;
    }

    #website-design-images {
        height: 500px;
    }

    .sample-image {
        height: 186px;
        box-shadow: -1px -1px 10px #f2d9b4, 1px 1px 10px #f2d9b4;
    }

    #development-paragraph {
        font-size: 8px;
        letter-spacing: 1.3px;
    }

    #development-samples {
        height: 483px;
    }

    #code-snippet {
        height: 252px;
        box-shadow: none;
    }

    #website-snippet {
        height: 180px;
        box-shadow: -1px -1px 10px #f2d9b4, 1px 1px 10px #f2d9b4;
    }

    #development-samples-2 {
        height: 343px;
    }

    #code-snippet-2, #code-snippet-3 {
        width: 145px;
        box-shadow: none;
    }

    #code-snippet-2 {
        height: 236px;
    }

    #code-snippet-3 {
        height: 326px;
    }

    #development-samples-3 {
        height: 204px;
    }

    #website-snippet-2 {
        width: 95px;
        height: 202px;
        box-shadow: -1px -1px 10px #f2d9b4, 1px 1px 10px #f2d9b4;
    }

    #code-snippet-4 {
        width: 190px;
        height: 127px;
        box-shadow: none;
    }

    .specify-width-for-this-page {
        width: 310px;
    }
}